*{
   margin:0;
   padding:0;
   border:0;
}
li{
   list-style: none;
}
a {
   text-decoration: none;
}
.crypto-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
}
.crypto-logo h1 {
  color: #D4AF37;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}
.crypto-logo h1 span {
  font-weight: 100;
  font-size:26px;
  color: white;
}
.crypto-logo h1 sup {
  color: white;
  font-size: 16px;
  font-weight: 20;
}
.main{
   min-height:  100%;
   width:100%;
   overflow:hidden;
   background-color: #181414;
}
.pagename{
  color:#E1A95F;
  margin-left: auto;
  margin-right:4rem;
}
.cardstyle{
     background-color: #292828;
     border: 1px solid #E1A95F;
     /* box-shadow: 0 0 15px #FFB400; */
     color:white;
}
#sidebar{
   max-width:  264px;
   min-width: 150px;
   min-height: 100vh;
   transition: all 0.35s ease-in-out;
   background-color:#1B1A1A;
   /* border-right: 2px solid #FFB400; */
   display:flex;
   flex-direction: column;
}
#sidebar.collapsed {
   margin-left:-264px;
}
.selected-sidebar-link{
   background-color: #292828;
}

.submit-btn {
   background-color: #E1A95F;
   color: #FFF;
   border: 0;
   padding: 0.5rem 1rem;
   cursor: pointer;
   transition: all 0.3s ease;
}
.submit-btn:hover {
  background-color: #C25B25;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.toggler-btn {
   background-color: transparent;
   cursor:pointer;
   border:0;
}
.toggler-btn i{
   font-size:1.5rem;
   color:#000;
   font-weight:bold
}
.navbar {
   padding:1.15rem 1.5rem;
}
.sidebar-nav {
   flex: 1 1 auto;
}
.sidebar-logo{
   padding:1.15rem 1.5rem;
   text-align:center;
}
.sidebar-logo a{
   color: #FFF;
   font-weight:800;
   font-size:1.25rem;
}
.sidebar-header {
   color: #FFF;
   font-size: .75rem;
   padding: 1.5rem 1.5rem .375rem;
}
.sidebar-link {
  display: flex;
  flex-direction: column;
  font-size:12px;
  color: #FFF;
  align-items: center; 
  text-align: center; 
  padding: 10px; 
}

.sidebar-link i {
  font-size: 22px;
  color: #E1A95F;
  margin-bottom: 5px; 
}

.sidebar-link span {
  font-size: 12px;
  color: #FFF;
}
a.sidebar-link:hover{
   background-color: #292828;
   transition: all 0.2s ease-in-out;
}
#heading{
   background-color: #181414;
   color:white;
   border-left: 2px solid black;
}
.messagesend{
   max-width:75vw;  
}

.message {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
   border:solid;
   border-width: 0 .075rem .075rem 0;
   content: "";
   display: inline-block;
   padding: 2px;
   position:absolute;
   right:1.5rem;
   top: 1.4rem;
   transform: rotate(-135deg);
   transition: all .2s ease-out;

}
.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}


.favorite-btn .favorite-star {
  transition: transform 0.3s ease, color 0.3s ease;
}


.favorite-btn .favorite-star.filled {
  transform: scale(1.2) rotate(20deg);
  color: gold; 
}

.favorite-btn .favorite-star:hover {
  transform: scale(1.4) rotate(30deg); 
}


.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); 
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -264px;
  }
  #sidebar.collapsed {
      margin-left: 0;
  }
}